@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Well, hello there.</h1>
    <p>Nich's AuthO Learnings - Such brain, many fun.</p>
    <img src="https://crystalpng.com/wp-content/uploads/2023/04/Twitter-new-logo-600x600.png"/>
</div>
